In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import *


spark = SparkSession.builder.master('local[2]').getOrCreate()

In [56]:
# Create a DataFrame from JSON data (automatically infer schema and data types)
# There are other file formats you can read from (e.g., csv, orc, parquet)
# https://spark.apache.org/docs/2.2.0/sql-programming-guide.html#data-sources

# Read Sillicon valley episodes data
data_file="hdfs://hdfs-nn:9000/user/Projeto TABD/Bronze/Countries.csv"
countries = spark.read.csv(data_file,header=True, sep=";")

In [57]:
countries.printSchema()
countries.show()
countries.toPandas()

root
 |-- Country: string (nullable = true)
 |-- Area(sq km): string (nullable = true)
 |-- Birth rate(births/1000 population): string (nullable = true)
 |-- Current account balance: string (nullable = true)
 |-- Death rate(deaths/1000 population): string (nullable = true)
 |-- Debt - external: string (nullable = true)
 |-- Electricity - consumption(kWh): string (nullable = true)
 |-- Electricity - production(kWh): string (nullable = true)
 |-- Exports: string (nullable = true)
 |-- GDP: string (nullable = true)
 |-- GDP - per capita: string (nullable = true)
 |-- GDP - real growth rate(%): string (nullable = true)
 |-- HIV/AIDS - adult prevalence rate(%): string (nullable = true)
 |-- HIV/AIDS - deaths: string (nullable = true)
 |-- HIV/AIDS - people living with HIV/AIDS: string (nullable = true)
 |-- Highways(km): string (nullable = true)
 |-- Imports: string (nullable = true)
 |-- Industrial production growth rate(%): string (nullable = true)
 |-- Infant mortality rate(deaths/1000 live births): string (nullable = true)
 |-- Inflation rate (consumer prices)(%): string (nullable = true)
 |-- Internet hosts: string (nullable = true)
 |-- Internet users: string (nullable = true)
 |-- Investment (gross fixed)(% of GDP): string (nullable = true)
 |-- Labor force: string (nullable = true)
 |-- Life expectancy at birth(years): string (nullable = true)
 |-- Military expenditures - dollar figure: string (nullable = true)
 |-- Military expenditures - percent of GDP(%): string (nullable = true)
 |-- Natural gas - consumption(cu m): string (nullable = true)
 |-- Natural gas - exports(cu m): string (nullable = true)
 |-- Natural gas - imports(cu m): string (nullable = true)
 |-- Natural gas - production(cu m): string (nullable = true)
 |-- Natural gas - proved reserves(cu m): string (nullable = true)
 |-- Oil - consumption(bbl/day): string (nullable = true)
 |-- Oil - exports(bbl/day): string (nullable = true)
 |-- Oil - imports(bbl/day): string (nullable = true)
 |-- Oil - production(bbl/day): string (nullable = true)
 |-- Oil - proved reserves(bbl): string (nullable = true)
 |-- Population: string (nullable = true)
 |-- Public debt(% of GDP): string (nullable = true)
 |-- Railways(km): string (nullable = true)
 |-- Reserves of foreign exchange & gold: string (nullable = true)
 |-- Telephones - main lines in use: string (nullable = true)
 |-- Telephones - mobile cellular: string (nullable = true)
 |-- Total fertility rate(children born/woman): string (nullable = true)
 |-- Unemployment rate(%): string (nullable = true)

+--------------------+-----------+----------------------------------+-----------------------+----------------------------------+---------------+------------------------------+-----------------------------+------------+------------+----------------+-------------------------+-----------------------------------+-----------------+--------------------------------------+------------+------------+------------------------------------+----------------------------------------------+-----------------------------------+--------------+--------------+----------------------------------+-----------+-------------------------------+-------------------------------------+-----------------------------------------+-------------------------------+---------------------------+---------------------------+------------------------------+-----------------------------------+--------------------------+----------------------+----------------------+-------------------------+--------------------------+----------+---------------------+------------+-----------------------------------+------------------------------+----------------------------+-----------------------------------------+--------------------+
|             Country|Area(sq km)|Birth rate(births/1000 population)|Current account balance|Death rate(deaths/1000 population)|Debt - external|Electricity - consumption(kWh)|Electricity - production(kWh)|     Exports|         GDP|GDP - per capita|GDP - real growth rate(%)|HIV/AIDS - adult prevalence rate(%)|HIV/AIDS - deaths|HIV/AIDS - people living with HIV/AIDS|Highways(km)|     Imports|Industrial production growth rate(%)|Infant mortality rate(deaths/1000 live births)|Inflation rate (consumer prices)(%)|Internet hosts|Internet users|Investment (gross fixed)(% of GDP)|Labor force|Life expectancy at birth(years)|Military expenditures - dollar figure|Military expenditures - percent of GDP(%)|Natural gas - consumption(cu m)|Natural gas - exports(cu m)|Natural gas - imports(cu m)|Natural gas - production(cu m)|Natural gas - proved reserves(cu m)|Oil - consumption(bbl/day)|Oil - exports(bbl/day)|Oil - imports(bbl/day)|Oil - production(bbl/day)|Oil - proved reserves(bbl)|Population|Public debt(% of GDP)|Railways(km)|Reserves of foreign exchange & gold|Telephones - main lines in use|Telephones - mobile cellular|Total fertility rate(children born/woman)|Unemployment rate(%)|
+--------------------+-----------+----------------------------------+-----------------------+----------------------------------+---------------+------------------------------+-----------------------------+------------+------------+----------------+-------------------------+-----------------------------------+-----------------+--------------------------------------+------------+------------+------------------------------------+----------------------------------------------+-----------------------------------+--------------+--------------+----------------------------------+-----------+-------------------------------+-------------------------------------+-----------------------------------------+-------------------------------+---------------------------+---------------------------+------------------------------+-----------------------------------+--------------------------+----------------------+----------------------+-------------------------+--------------------------+----------+---------------------+------------+-----------------------------------+------------------------------+----------------------------+-----------------------------------------+--------------------+
|              String|     double|                            double|                 double|                            double|         double|                        double|                       double|      double|      double|          double|                   double|                             double|           double|                                double|      double|      double|                              double|                                        double|                             double|        double|        double|                            double|     double|                         double|                               double|                                   double|                         double|                     double|                     double|                        double|                             double|                    double|                double|                double|                   double|                    double|    double|               double|      double|                             double|                        double|                      double|                                   double|              double|
|         Afghanistan|     647500|                             47.02|                   null|                             20.75|     8000000000|                     652200000|                    540000000|   446000000| 21500000000|             800|                     7.50|                               0.01|             null|                                  null|       21000|  3759000000|                                null|                                        163.07|                              10.30|          null|          1000|                              null|   11800000|                          42.90|                            188400000|                                     2.60|                      220000000|                          0|                          0|                     220000000|                        49980000000|                      3500|                  null|                  null|                        0|                         0|  29928987|                 null|        null|                               null|                         33100|                       15000|                                     6.75|                null|
|            Akrotiri|        123|                              null|                   null|                              null|           null|                          null|                         null|        null|        null|            null|                     null|                               null|             null|                                  null|        null|        null|                                null|                                          null|                               null|          null|          null|                              null|       null|                           null|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      null|                  null|                  null|                     null|                      null|      null|                 null|        null|                               null|                          null|                        null|                                     null|                null|
|             Albania|      28748|                             15.08|             -504000000|                              5.12|     1410000000|                    6760000000|                   5680000000|   552400000| 17460000000|            4900|                     5.60|                               null|             null|                                  null|       18000|  2076000000|                                3.10|                                         21.52|                               3.20|           455|         30000|                             18.40|    1090000|                          77.24|                             56500000|                                     1.49|                       30000000|                          0|                          0|                      30000000|                         3316000000|                      7500|                     0|                  5500|                     2000|                 185500000|   3563112|                 null|         447|                         1206000000|                        255000|                     1100000|                                     2.04|               14.80|
|             Algeria|    2381740|                             17.13|            11900000000|                              4.60|    21900000000|                   23610000000|                  25760000000| 32160000000|212300000000|            6600|                     6.10|                               0.10|              500|                                  9100|      104000| 15250000000|                                6.00|                                         31.00|                               3.10|           897|        500000|                             26.20|    9910000|                          73.00|                           2480000000|                                     3.20|                    22320000000|                57980000000|                          0|                   80300000000|                      4739000000000|                    209000|                  null|                  null|                  1200000|               11870000000|  32531853|                37.40|        3973|                        43550000000|                       2199600|                     1447310|                                     1.92|               25.40|
|      American Samoa|        199|                             23.13|                   null|                              3.33|           null|                     120900000|                    130000000|    30000000|   500000000|            8000|                     null|                               null|             null|                                  null|         185|   123000000|                                null|                                          9.27|                               null|          null|          null|                              null|      14000|                          75.84|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      3800|                  null|                  null|                        0|                      null|     57881|                 null|        null|                               null|                         15000|                        2377|                                     3.25|                6.00|
|             Andorra|        468|                              9.00|                   null|                              6.07|           null|                          null|                         null|    58000000|  1900000000|           26800|                     2.00|                               null|             null|                                  null|         269|  1077000000|                                null|                                          4.05|                               4.30|          4144|         24500|                              null|      33000|                          83.51|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      null|                  null|                  null|                     null|                      null|     70549|                 null|        null|                               null|                         35000|                       23500|                                     1.29|                0.00|
|              Angola|    1246700|                             44.64|              -37880000|                             25.90|    10450000000|                    1587000000|                   1707000000| 12760000000| 23170000000|            2100|                    11.70|                               3.90|            21000|                                240000|       51429|  4896000000|                                1.00|                                        191.19|                              43.80|            17|         41000|                             34.50|    5410000|                          36.61|                            183580000|                                    10.60|                      530000000|                          0|                          0|                     530000000|                        79570000000|                     31000|                  null|                  null|                   980000|               22880000000|  11190786|                 null|        2761|                          800000000|                         96300|                      130000|                                     6.27|                null|
|            Anguilla|        102|                             14.26|                   null|                              5.43|        8800000|                      42600000|                         null|     2600000|   112000000|            7500|                     2.80|                               null|             null|                                  null|         105|    80900000|                                3.10|                                         21.03|                               2.30|          null|          3000|                              null|       6049|                          77.11|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      null|                  null|                  null|                     null|                      null|     13254|                 null|        null|                               null|                          6200|                        1800|                                     1.73|                8.00|
|          Antarctica|   14000000|                              null|                   null|                              null|           null|                          null|                         null|        null|        null|            null|                     null|                               null|             null|                                  null|        null|        null|                                null|                                          null|                               null|          null|          null|                              null|       null|                           null|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      null|                  null|                  null|                     null|                      null|      null|                 null|        null|                               null|                             0|                        null|                                     null|                null|
| Antigua and Barbuda|        443|                             17.26|                   null|                              5.44|      231000000|                     103000000|                    110800000|   689000000|   750000000|           11000|                     3.00|                               null|             null|                                  null|         250|   692000000|                                6.00|                                         19.46|                               0.40|          1665|         10000|                              null|      30000|                          71.90|                                 null|                                     null|                           null|                       null|                       null|                          null|                               null|                      3600|                  null|                  null|                        0|                      null|     68722|                 null|        null|                               null|                         38000|                       38200|                                     2.26|               11.00|

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,None,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,None,None,None,33100,15000,6.75,None
2,Akrotiri,123,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,None,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,32.37,None,3.99,108000000,None,None,205000000,1800000000,...,None,None,2385615,None,None,None,301600,480000,4.40,27.20
260,Western Sahara,266000,None,None,None,None,83700000,90000000,None,None,...,0,None,273008,None,None,None,None,0,None,None
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,None,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,None,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,None,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

In [58]:
countries = countries.selectExpr("Country as country_or_area", "`Area(sq km)` as area_km", 
                                 "`Current account balance` as current_account_balance", "`Internet hosts` as internet_hosts",
                                 "`Telephones - main lines in use` as `telephone_main_lines_in_use`",
                                 "`Telephones - mobile cellular` as telephone_mobile_celular", 
                                 "'' as country_id",  "'0' as status",  "'9999-01-01' as join_date", 
                                 "'0' as population",  "'0' as population_rank",  "'0' as internet_users",
                                 "'0' as internet_users_percentage", "'0' as internet_user_rank")
countries.toPandas()

,country_or_area,area_km,current_account_balance,internet_hosts,telephone_main_lines_in_use,telephone_mobile_celular,country_id,status,join_date,population,population_rank,internet_users,internet_users_percentage,internet_user_rank
0,String,double,double,double,double,double,,0,9999-01-01,0,0,0,0,0
1,Afghanistan,647500,None,None,33100,15000,,0,9999-01-01,0,0,0,0,0
2,Akrotiri,123,None,None,None,None,,0,9999-01-01,0,0,0,0,0
3,Albania,28748,-504000000,455,255000,1100000,,0,9999-01-01,0,0,0,0,0
4,Algeria,2381740,11900000000,897,2199600,1447310,,0,9999-01-01,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,None,None,301600,480000,,0,9999-01-01,0,0,0,0,0
260,Western Sahara,266000,None,None,None,0,,0,9999-01-01,0,0,0,0,0
261,Yemen,527970,369900000,138,542200,411100,,0,9999-01-01,0,0,0,0,0
262,Zambia,752614,-181400000,1880,88400,241000,,0,9999-01-01,0,0,0,0,0
263,Zimbabwe,390580,-230300000,4501,300900,379100,,0,9999-01-01,0,0,0,0,0

In [59]:
# Substitui o valor  por None para depois remover a linha toda
countries = countries.withColumn(
    "country_or_area",
    when(
        (col("country_or_area") == "String"), 
        None
    ).otherwise(concat(lit(""), col("country_or_area")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "area_km",
    when(
        (col("area_km") == "double"), 
        None
    ).otherwise(concat(lit(""), col("area_km")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "current_account_balance",
    when(
        (col("current_account_balance") == "double"), 
        None
    ).otherwise(concat(lit(""), col("current_account_balance")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "internet_hosts",
    when(
        (col("internet_hosts") == "double"), 
        None
    ).otherwise(concat(lit(""), col("internet_hosts")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "telephone_main_lines_in_use",
    when(
        (col("telephone_main_lines_in_use") == "double"), 
        None
    ).otherwise(concat(lit(""), col("telephone_main_lines_in_use")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "telephone_mobile_celular",
    when(
        (col("telephone_mobile_celular") == "double"), 
        None
    ).otherwise(concat(lit(""), col("telephone_mobile_celular")))
    #
    #.when(
    #
    #)
)
countries = countries.dropna(how='any')
# Substitui o valor  por None para depois remover a linha toda
countries = countries.withColumn(
    "country_or_area",
    when(
        (col("country_or_area") == "String"), 
        None
    ).otherwise(concat(lit(""), col("country_or_area")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "area_km",
    when(
        (col("area_km") == "double"), 
        None
    ).otherwise(concat(lit(""), col("area_km")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "current_account_balance",
    when(
        (col("current_account_balance") == "double"), 
        None
    ).otherwise(concat(lit(""), col("current_account_balance")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "internet_hosts",
    when(
        (col("internet_hosts") == "double"), 
        None
    ).otherwise(concat(lit(""), col("internet_hosts")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "telephone_main_lines_in_use",
    when(
        (col("telephone_main_lines_in_use") == "double"), 
        None
    ).otherwise(concat(lit(""), col("telephone_main_lines_in_use")))
    #
    #.when(
    #
    #)
)
countries = countries.withColumn(
    "telephone_mobile_celular",
    when(
        (col("telephone_mobile_celular") == "double"), 
        None
    ).otherwise(concat(lit(""), col("telephone_mobile_celular")))
    #
    #.when(
    #
    #)
)
countries = countries.dropna(how='any')

In [60]:
countries = countries.withColumn("current_account_balance", countries["current_account_balance"].cast(IntegerType()))
countries = countries.withColumn("internet_hosts", countries["internet_hosts"].cast(IntegerType()))
countries = countries.withColumn("telephone_main_lines_in_use", countries["telephone_main_lines_in_use"].cast(IntegerType()))
countries = countries.withColumn("telephone_mobile_celular", countries["telephone_mobile_celular"].cast(IntegerType()))
countries = countries.withColumn("status", countries["status"].cast(IntegerType()))
countries = countries.withColumn("join_date", countries["join_date"].cast(DateType()))
countries = countries.withColumn("population", countries["population"].cast(IntegerType()))
countries = countries.withColumn("population_rank", countries["population_rank"].cast(IntegerType()))
countries = countries.withColumn("internet_users", countries["internet_users"].cast(IntegerType()))
countries = countries.withColumn("internet_users_percentage", countries["internet_users_percentage"].cast(FloatType()))
countries = countries.withColumn("internet_user_rank", countries["internet_user_rank"].cast(IntegerType()))

countries = countries[['country_or_area','area_km', 'current_account_balance', 'internet_hosts', 'telephone_main_lines_in_use', 'telephone_mobile_celular', 'country_id', 'status', 'join_date','population', 'population_rank', 'internet_users', 'internet_users_percentage', 'internet_user_rank']]

In [61]:
countries.printSchema()

root
 |-- country_or_area: string (nullable = true)
 |-- area_km: string (nullable = true)
 |-- current_account_balance: integer (nullable = true)
 |-- internet_hosts: integer (nullable = true)
 |-- telephone_main_lines_in_use: integer (nullable = true)
 |-- telephone_mobile_celular: integer (nullable = true)
 |-- country_id: string (nullable = false)
 |-- status: integer (nullable = true)
 |-- join_date: date (nullable = true)
 |-- population: integer (nullable = true)
 |-- population_rank: integer (nullable = true)
 |-- internet_users: integer (nullable = true)
 |-- internet_users_percentage: float (nullable = true)
 |-- internet_user_rank: integer (nullable = true)

In [62]:
# Substitui os valores NaN por 0
countries = countries.fillna(0)
countries.toPandas()

,country_or_area,area_km,current_account_balance,internet_hosts,telephone_main_lines_in_use,telephone_mobile_celular,country_id,status,join_date,population,population_rank,internet_users,internet_users_percentage,internet_user_rank
0,Albania,28748,-504000000,455,255000,1100000,,0,9999-01-01,0,0,0,0.0,0
1,Algeria,2381740,0,897,2199600,1447310,,0,9999-01-01,0,0,0,0.0,0
2,Angola,1246700,-37880000,17,96300,130000,,0,9999-01-01,0,0,0,0.0,0
3,Argentina,2766890,0,742358,8009400,6500000,,0,9999-01-01,0,0,0,0.0,0
4,Armenia,29800,-240400000,2206,562600,114400,,0,9999-01-01,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Venezuela,912050,0,35301,2841800,6463600,,0,9999-01-01,0,0,0,0.0,0
141,Vietnam,329560,-2061000000,340,4402000,2742000,,0,9999-01-01,0,0,0,0.0,0
142,Yemen,527970,369900000,138,542200,411100,,0,9999-01-01,0,0,0,0.0,0
143,Zambia,752614,-181400000,1880,88400,241000,,0,9999-01-01,0,0,0,0.0,0
144,Zimbabwe,390580,-230300000,4501,300900,379100,,0,9999-01-01,0,0,0,0.0,0

In [63]:
countries \
    .write \
    .format("parquet") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/warehouse/tabd.db/Countries/")