In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import *

spark = SparkSession.builder.master('local[2]').getOrCreate()

In [2]:
individualsactivities2 = spark.read.csv("hdfs://hdfs-nn:9000/user/Projeto TABD/Bronze/IndividualsActivities2.csv", header=True, sep=";")

In [3]:
individualsactivities2.printSchema()
individualsactivities2.show()
individualsactivities2.toPandas()

root
 |-- TIME0: string (nullable = true)
 |-- TIME1: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2019: string (nullable = true)
 |-- 2020: string (nullable = true)

+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+
|               TIME0|               TIME1|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|
+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+
|        GEO (Labels)|   INDIC_IS (Labels)|null|null|null|null|null|null|null|null|null|null|
|European Union - ...|Internet use: loo...|  28|   :|  30|   :|  31|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: sen...|   :|  64|  65|  67|  67|  69|  70|  71|  73|  75|
|European Union - ...|Internet use: tel...|  20|  25|  24|  28|  28|  30|  37|  41|  52|  63|
|European Union - ...|Internet use: par...|  36|   :|  41|  44|  48|  49|  52|  54|  54|  57|
|European Union - ...|Internet use: fin...|  55|  60|  58|  62|  60|  63|  64|  68|  66|  70|
|European Union - ...|Internet use: con...|  38|   :|  44|   :|  44|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: rea...|   :|   :|  47|  51|  53|  56|  60|   :|  62|  66|
|European Union - ...|Internet use: pla...|   :|  34|   :|  39|   :|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: lis...|   :|  32|   :|   :|   :|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: see...|  38|   :|  44|   :|  45|  47|  50|  51|  53|  56|
|European Union - ...|Internet use: pla...|   :|   :|   :|   :|   :|  62|   :|  67|   :|  71|
|European Union - ...|Internet use: loo...|  29|   :|  31|   :|  32|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: sen...|   :|  65|  67|  68|  69|  71|  72|  73|  75|   :|
|European Union - ...|Internet use: tel...|  20|  26|  25|  29|  29|  32|  39|  42|  52|   :|
|European Union - ...|Internet use: par...|  38|   :|  43|  46|  50|  52|  54|  56|  57|   :|
|European Union - ...|Internet use: fin...|  56|  61|  59|  64|  61|  66|  65|  70|  68|   :|
|European Union - ...|Internet use: con...|  38|   :|  44|   :|  45|   :|   :|   :|   :|   :|
|European Union - ...|Internet use: rea...|   :|   :|  48|  52|  54|  57|  61|   :|  63|   :|
|European Union - ...|Internet use: pla...|   :|  35|   :|  40|   :|   :|   :|   :|   :|   :|
+--------------------+--------------------+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

,TIME0,TIME1,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,GEO (Labels),INDIC_IS (Labels),None,None,None,None,None,None,None,None,None,None
1,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,28,:,30,:,31,:,:,:,:,:
2,European Union - 27 countries (from 2020),Internet use: sending/receiving e-mails,:,64,65,67,67,69,70,71,73,75
3,European Union - 27 countries (from 2020),Internet use: telephoning or video calls,20,25,24,28,28,30,37,41,52,63
4,European Union - 27 countries (from 2020),Internet use: participating in social networks...,36,:,41,44,48,49,52,54,54,57
...,...,...,...,...,...,...,...,...,...,...,...,...
527,South Korea,Internet use: seeking health information,:,:,:,:,:,:,:,:,:,:
528,South Korea,"Internet use: playing/downloading games, liste...",:,:,:,:,:,:,:,:,:,:
529,None,None,None,None,None,None,None,None,None,None,None,None
530,Special value,None,None,None,None,None,None,None,None,None,None,None
531,:,not available,None,None,None,None,None,None,None,None,None,None

In [4]:
# Substitui o valor  por None para depois remover a linha toda
individualsactivities2 = individualsactivities2.withColumn(
    "TIME0",
    when(
        (col("TIME0") == "String"), 
        None
    ).otherwise(concat(lit(""), col("TIME0")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "TIME1",
    when(
        (col("TIME1") == "String"), 
        None
    ).otherwise(concat(lit(""), col("TIME1")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2011",
    when(
        (col("2011") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2011")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2012",
    when(
        (col("2012") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2012")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2013",
    when(
        (col("2013") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2013")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2014",
    when(
        (col("2014") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2014")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2015",
    when(
        (col("2015") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2015")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2016",
    when(
        (col("2016") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2016")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2017",
    when(
        (col("2017") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2017")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2018",
    when(
        (col("2018") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2018")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2019",
    when(
        (col("2019") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2019")))
)
individualsactivities2 = individualsactivities2.withColumn(
    "2020",
    when(
        (col("2020") == "String"), 
        None
    ).otherwise(concat(lit(""), col("2020")))
)

individualsactivities2 = individualsactivities2.dropna(how='any')

In [5]:
individualsactivities2.toPandas()

,TIME0,TIME1,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,28,:,30,:,31,:,:,:,:,:
1,European Union - 27 countries (from 2020),Internet use: sending/receiving e-mails,:,64,65,67,67,69,70,71,73,75
2,European Union - 27 countries (from 2020),Internet use: telephoning or video calls,20,25,24,28,28,30,37,41,52,63
3,European Union - 27 countries (from 2020),Internet use: participating in social networks...,36,:,41,44,48,49,52,54,54,57
4,European Union - 27 countries (from 2020),Internet use: finding information about goods ...,55,60,58,62,60,63,64,68,66,70
...,...,...,...,...,...,...,...,...,...,...,...,...
523,South Korea,Internet use: reading online news sites/newspa...,:,:,:,:,:,:,:,:,:,:
524,South Korea,"Internet use: playing/downloading games, image...",:,:,:,:,:,:,:,:,:,:
525,South Korea,Internet use: listening to web radios and/or w...,:,:,:,:,:,:,:,:,:,:
526,South Korea,Internet use: seeking health information,:,:,:,:,:,:,:,:,:,:
527,South Korea,"Internet use: playing/downloading games, liste...",:,:,:,:,:,:,:,:,:,:

In [6]:
# Unpivot - Columns to rows
individualsactivities2 = individualsactivities2.select(
        col("TIME0"), col("TIME1"),
        expr("stack(10, '2011', `2011`, '2012', `2012`, '2013', `2013`, '2014', `2014`, '2015', `2015`, '2016', `2016`, '2017', `2017`, '2018', `2018`, '2019', `2019`, '2020', `2020`) as (year,activity_percentage)")
)

In [7]:
individualsactivities2.toPandas()

,TIME0,TIME1,year,activity_percentage
0,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2011,28
1,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2012,:
2,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2013,30
3,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2014,:
4,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2015,31
...,...,...,...,...
5275,South Korea,"Internet use: playing/downloading games, liste...",2016,:
5276,South Korea,"Internet use: playing/downloading games, liste...",2017,:
5277,South Korea,"Internet use: playing/downloading games, liste...",2018,:
5278,South Korea,"Internet use: playing/downloading games, liste...",2019,:
5279,South Korea,"Internet use: playing/downloading games, liste...",2020,:

In [8]:

individualsactivities2 = individualsactivities2.selectExpr("`TIME0` as region", 
                                                         "`TIME1` as internet_activity", 
                                                         "year as year",
                                                         "activity_percentage as activity_percentage"
                                                         )

In [9]:
individualsactivities2.toPandas()

,region,internet_activity,year,activity_percentage
0,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2011,28
1,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2012,:
2,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2013,30
3,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2014,:
4,European Union - 27 countries (from 2020),Internet use: looking for information about ed...,2015,31
...,...,...,...,...
5275,South Korea,"Internet use: playing/downloading games, liste...",2016,:
5276,South Korea,"Internet use: playing/downloading games, liste...",2017,:
5277,South Korea,"Internet use: playing/downloading games, liste...",2018,:
5278,South Korea,"Internet use: playing/downloading games, liste...",2019,:
5279,South Korea,"Internet use: playing/downloading games, liste...",2020,:

In [10]:
individualsactivities2 = individualsactivities2.withColumn(
    "region",
    when(
        (col("region") == "Euro area (EA11-1999, EA12-2001, EA13-2007, EA15-2008, EA16-2009, EA17-2011, EA18-2014, EA19-2015)"), "Euro Area"   
    ).when(
        (col("region") == "Germany (until 1990 former territory of the FRG)"), "Germany"
    ).when(
        (col("region") == "Kosovo (under United Nations Security Council Resolution 1244/99)"), "Kosovo"
    ).when(
        (col("region") == "European Union - 27 countries (from 2020)"), "European Union from 2020"
    ).when(
        (col("region") == "European Union - 28 countries (2013-2020)"), "European Union from 2013 to 2020"
    ).when(
        (col("region") == "European Union - 27 countries (2007-2013)"), "European Union from 2007 to 2013"    
    ).when(
        (col("region") == "European Union - 25 countries (2004-2006)"), "European Union from 2004 to 2006" 
    ).when(
        (col("region") == "European Union - 15 countries (1995-2004))"), "European Union from 1995 to 2004"  
    ).otherwise(col("region")))


individualsactivities2 = individualsactivities2.withColumn(
    "internet_activity",
    when(
        (col("internet_activity") == "Internet use: looking for information about education, training or course offers"), "Looking for information about education, training or course offers"   
    ).when(
        (col("internet_activity") == "Internet use: sending/receiving e-mails"), "Sending/receiving e-mails"
    ).when(
        (col("internet_activity") == "Internet use: telephoning or video calls"), "Telephoning or video calls"
    ).when(
        (col("internet_activity") == "Internet use: participating in social networks (creating user profile, posting messages or other contributions to facebook, twitter, etc.)"), "Participating in social networks"
    ).when(
        (col("internet_activity") == "Internet use: finding information about goods and services"), "Finding information about goods and services"
    ).when(
        (col("internet_activity") == "Internet use: consulting wikis (to obtain knowledge on any subject)"), "Consulting wikis"    
    ).when(
        (col("internet_activity") == "Internet use: reading online news sites/newspapers/news magazines"), "Reading online news sites/newspapers/news magazines" 
    ).when(
        (col("internet_activity") == "Internet use: playing/downloading games, images, films or music"), "Playing/downloading games, images, films or music"  
    ).when(
        (col("internet_activity") == "Internet use: listening to web radios and/or watching web TV"), "Listening to web radios and/or watching web TV"  
    ).when(
        (col("internet_activity") == "Internet use: seeking health information"), "Seeking health information"  
    ).when(
        (col("internet_activity") == "Internet use: playing/downloading games, listening to music or watching videos (excluding VOD)"), "Playing/downloading games, listening to music or watching videos" 
    ).otherwise(col("internet_activity")))

In [11]:
individualsactivities2.toPandas()

,region,internet_activity,year,activity_percentage
0,European Union from 2020,"Looking for information about education, train...",2011,28
1,European Union from 2020,"Looking for information about education, train...",2012,:
2,European Union from 2020,"Looking for information about education, train...",2013,30
3,European Union from 2020,"Looking for information about education, train...",2014,:
4,European Union from 2020,"Looking for information about education, train...",2015,31
...,...,...,...,...
5275,South Korea,"Playing/downloading games, listening to music ...",2016,:
5276,South Korea,"Playing/downloading games, listening to music ...",2017,:
5277,South Korea,"Playing/downloading games, listening to music ...",2018,:
5278,South Korea,"Playing/downloading games, listening to music ...",2019,:
5279,South Korea,"Playing/downloading games, listening to music ...",2020,:

In [12]:
individualsactivities2 = individualsactivities2.withColumn(
    "year",
    individualsactivities2["year"].cast(IntegerType()))

individualsactivities2 = individualsactivities2.withColumn(
    "activity_percentage",
    individualsactivities2["activity_percentage"].cast(IntegerType()))

individualsactivities2 = individualsactivities2.fillna(0)

In [13]:
individualsactivities2.toPandas()

,region,internet_activity,year,activity_percentage
0,European Union from 2020,"Looking for information about education, train...",2011,28
1,European Union from 2020,"Looking for information about education, train...",2012,0
2,European Union from 2020,"Looking for information about education, train...",2013,30
3,European Union from 2020,"Looking for information about education, train...",2014,0
4,European Union from 2020,"Looking for information about education, train...",2015,31
...,...,...,...,...
5275,South Korea,"Playing/downloading games, listening to music ...",2016,0
5276,South Korea,"Playing/downloading games, listening to music ...",2017,0
5277,South Korea,"Playing/downloading games, listening to music ...",2018,0
5278,South Korea,"Playing/downloading games, listening to music ...",2019,0
5279,South Korea,"Playing/downloading games, listening to music ...",2020,0

In [14]:
individualsactivities2 = individualsactivities2.selectExpr("year as year",
                                                           "region as region", 
                                                           "internet_activity as internet_activity",
                                                           "activity_percentage as activity_percentage", 
                                                           "'null' as individuals"
                                                           )

In [15]:
individualsactivities2.toPandas()

,year,region,internet_activity,activity_percentage,individuals
0,2011,European Union from 2020,"Looking for information about education, train...",28,null
1,2012,European Union from 2020,"Looking for information about education, train...",0,null
2,2013,European Union from 2020,"Looking for information about education, train...",30,null
3,2014,European Union from 2020,"Looking for information about education, train...",0,null
4,2015,European Union from 2020,"Looking for information about education, train...",31,null
...,...,...,...,...,...
5275,2016,South Korea,"Playing/downloading games, listening to music ...",0,null
5276,2017,South Korea,"Playing/downloading games, listening to music ...",0,null
5277,2018,South Korea,"Playing/downloading games, listening to music ...",0,null
5278,2019,South Korea,"Playing/downloading games, listening to music ...",0,null
5279,2020,South Korea,"Playing/downloading games, listening to music ...",0,null

In [16]:
individualsactivities2.printSchema()

root
 |-- year: integer (nullable = true)
 |-- region: string (nullable = true)
 |-- internet_activity: string (nullable = true)
 |-- activity_percentage: integer (nullable = true)
 |-- individuals: string (nullable = false)

In [17]:
individualsactivities2 \
    .write \
    .format("parquet") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/warehouse/tabd.db/IndividualsActivities2/")